# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# MongoDB data
data/
diagnostic.data/
journal/
*.wt
mongod.lock
WiredTiger*
storage.bson

# Logs
logs/
*.log
npm-debug.log*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db